:root {
    --mouse-x: .7;
    --mouse-y: .23;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(148,148,148,1) 42%, rgb(240, 240, 240) 100%);
}

.sky {
    z-index: 1000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at calc(var(--mouse-x)*100%) calc(var(--mouse-y)*100%),
         rgb(235, 235, 231) 0%, rgb(255, 255, 255) 4%,  rgba(0, 0, 0, 0) 5%);
}

.wall {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    width: 50vw;

    /* display: flex;
    justify-content: center;
    flex-direction: column; */

    /* vertical-align: middle; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 252, 214);
    letter-spacing: 0.3rem;
    text-shadow: 
        1px 0px grey,
        0px 1px grey,
        1px 1px grey,
        1px 2px grey,
        2px 1px grey,
        2px 2px grey;

}

.floor {
    z-index: -1000;
    overflow: hidden;
    box-shadow: -5px 5px 5px black;       
    background: radial-gradient(circle at calc(var(--mouse-x)*100%) calc(var(--mouse-y)*100%), rgba(242, 255, 0, 0.664) 0%, rgba(0, 0, 212, 0.5) 40%, rgba(0, 0, 0, 0.9) 100%);
}

.floor-text {
    --elem-x: 0;
    --elem-y: 0;
    color: rgba(255, 252, 214, 0);
    text-shadow: 
        calc((var(--elem-x) - var(--mouse-x)) * 25vw) 
        calc((var(--elem-y) - var(--mouse-y)) * 25vh) 
        calc(((( var(--mouse-x) - var(--elem-x) ) * (var(--mouse-x) - var(--elem-x) ) +
            (var(--mouse-y) - var(--elem-y)) * (var(--mouse-y) - var(--elem-y)) )  / .5) * 3rem) 
        rgb(0 0 0 / 50%);
    }